<a href="https://colab.research.google.com/github/DataBaeDev/Python-Odds-and-Ends/blob/main/Custom_Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating and Formatting Custom Dates Using Python

In [1]:
# import library
import datetime as dt

## Today

In [2]:
currentday = dt.date.today()
print('Today is ',currentday)

Today is  2024-06-28

## Date Formatting

In [3]:
mm_dd_yy = currentday.strftime("%m-%d-%y")
print("mm-dd-yy: ", mm_dd_yy)

mm-dd-yy:  06-28-24

In [4]:
mm_dd_yyyy = currentday.strftime("%m-%d-%Y")
print("mm-dd-yyyy: ", mm_dd_yyyy)

mm-dd-yyyy:  06-28-2024

In [5]:
weekday = currentday.strftime("%A")
print('Weekday: ', weekday)

Weekday:  Friday

In [6]:
weekday = currentday.strftime("%a")
print('Weekday abbreviation: ', weekday)

Weekday abbreviation:  Fri

In [7]:
month_name = currentday.strftime("%B")
print('Month name: ', month_name)

Month name:  June

In [8]:
month_abbrev = currentday.strftime("%b")
print('Month abbreviation: ', month_abbrev)

Month abbreviation:  Jun

## Calendar Year Dates

In [9]:
first_of_this_yr = dt.date(dt.date.today().year, 1, 1)
print('First of this year: ', first_of_this_yr)

First of this year:  2024-01-01

In [10]:
first_of_this_mo = dt.date.today().replace(day=1)
print('First of this month: ', first_of_this_mo)

First of this month:  2024-06-01

In [11]:
end_of_last_mo = first_of_this_mo - dt.timedelta(days=1)
print('End of last month: ', end_of_last_mo)

End of last month:  2024-05-31

In [12]:
first_of_last_mo = first_of_this_mo - dt.timedelta(days=end_of_last_mo.day)
print('First of last month: ', first_of_last_mo)

First of last month:  2024-05-01

In [13]:
end_of_last_mo_1 = first_of_last_mo - dt.timedelta(days=1) #end of month before last
print('End of month before last ', end_of_last_mo_1)

End of month before last  2024-04-30

In [14]:
week_ago_today = currentday - dt.timedelta(weeks=1)
print('One week ago today: ', week_ago_today)

One week ago today:  2024-06-21

In [15]:
first_of_this_wk = currentday - dt.timedelta(days=currentday.weekday()+1)  ##Sunday
print('First day of this week (Sunday): ', first_of_this_wk)

First day of this week (Sunday):  2024-06-23

In [16]:
first_of_last_wk = first_of_this_wk - dt.timedelta(weeks=1)  ##Sunday
print('First day of last week (Sunday): ', first_of_last_wk)

First day of last week (Sunday):  2024-06-16

In [17]:
end_of_last_wk = first_of_last_wk + dt.timedelta(days=6)
print('End of Last Week (Saturday): ', end_of_last_wk)

End of Last Week (Saturday):  2024-06-22

In [18]:
last_mo_name = end_of_last_mo.strftime('%B')
print('Last month nameL ', last_mo_name)

Last month nameL  May

In [19]:
last_mo_year = end_of_last_mo.year
print('Last month yr: ', last_mo_year)

Last month yr:  2024

## Fiscal Year Dates
For fiscal years that run from July-June

In [20]:
### Fiscal Year Start
fiscal_yr_start = currentday
if currentday.month >= 7:
    fiscal_yr_start = dt.date(dt.date.today().year, 7, 1)
else:
    fiscal_yr_start = dt.date(fiscal_yr_start.year-1, 7, 1)

print('Current Fiscal year start ', fiscal_yr_start)

Current Fiscal year start  2023-07-01

In [21]:
Q1_start  = dt.date(fiscal_yr_start.year, 7, 1)
print('Q1 start: ', Q1_start)

Q1_end = dt.date(fiscal_yr_start.year, 9, 30)
print('Q1 end: ', Q1_end)

Q1 start:  2023-07-01
Q1 end:  2023-09-30

In [22]:
Q2_start  = dt.date(fiscal_yr_start.year, 10, 1)
print('Q2 start ', Q2_start)

Q2_end = dt.date(fiscal_yr_start.year, 12, 31)
print('Q2 end ', Q2_end)

Q2 start  2023-10-01
Q2 end  2023-12-31

In [23]:
Q3_start  = dt.date(fiscal_yr_start.year+1, 1, 1)
print('Q3 start ', Q3_start)

Q3_end = dt.date(fiscal_yr_start.year+1, 3, 30)
print('Q3 end ', Q3_end)

Q3 start  2024-01-01
Q3 end  2024-03-30

In [24]:
Q4_start  = dt.date(fiscal_yr_start.year+1, 4, 1)
print('Q4 start ', Q4_start)

Q4_end = dt.date(fiscal_yr_start.year+1, 6, 30)
print('Q4 end ', Q4_end)

Q4 start  2024-04-01
Q4 end  2024-06-30